<h2>Eventos</h2>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)]="filtroLista">
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th><button type="button" (click)="enabledButton()" class="btn btn-outline-light btn-sm">{{imageEnabled ? 'Ocultar' : 'Exibir'}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Quantidade Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td><img src="./assets/{{evento.imagemURL}}" [style.width.px] = "150" [isAnimated]="true" [collapse]="!imageEnabled"></td>
      <td>{{evento.eventoId}}</td>
      <td><p>{{evento.tema}}</p></td>
      <td><p>{{evento.local}}</p></td>
      <td><p>{{evento.dataEvento}}</p></td>
      <td><p>{{evento.qtdPessoas}}</p></td>
      <td><p>{{evento.lote}}</p></td>
      <td>
        <button type="button"  class="btn btn-primary btn-sm mr-2">Editar</button>
        <button type="button"  class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr *ngIf="!eventos.length">
      <td colspan="8" class="text-center">Nenhum evento encontrado!</td>
    </tr></tfoot>
</table>
